<h6><a href="{{@blog.url}}/tag/business">business</a></h6>
<h6><a href="{{@blog.url}}/tag/games">games</a></h6>
<h6><a href="{{@blog.url}}/tag/geekiness">geekiness</a></h6>
<h6><a href="{{@blog.url}}/tag/music">music</a></h6>
<h6><a href="{{@blog.url}}/tag/photography">photography</a></h6>
<h6><a href="{{@blog.url}}/tag/running">running</a></h6>
<h6><a href="{{@blog.url}}/tag/tech">tech</a></h6>
<h6><a href="{{@blog.url}}/tag/misc">misc</a></h6>