<h6><a href="{{@blog.url}}/tag/code">code</a></h6>
<h6><a href="{{@blog.url}}/tag/games">games</a></h6>
<h6><a href="{{@blog.url}}/tag/geekiness">geekiness</a></h6>
<h6><a href="{{@blog.url}}/tag/linux">linux</a></h6>
<h6><a href="{{@blog.url}}/tag/tech">tech</a></h6>
<h6><a href="{{@blog.url}}/tag/misc">misc</a></h6>
